{% extends 'base.html' %}

{% load static %}

{% block content %}
<h2 class="display-3"><center>Apie mus</center></h2>
<hr class="text-success border-2 opacity-50">

<div class="container">
    <p class="lead">
        3D VEIDAS - VILNIUS TECH studentų sukurta internetinė aplikacija, naudojanti dirbtinio intelekto modulį. Mūsų sistema iš vienos nuotraukos sugeba sugeneruoti trimačius veido modelius.
    </p>
    <!--<img>IDESI GIFA IS MANO FILMUOTO VIDEO KAI PASUKU VEIDO MODELI-->
    <p class="">
        Mūsų pagrindinis tikslas, kad sukurta sistema generuotų tikslius trimačius veido modelius, kuriuose turėtų aiškiai matytis žmogaus akys, nosis, burna ir ausys. Taip užsitarnaujant pasitikėjimą iš klientų įtvirtinti lyderystę vidaus rinkoje.
    </p>
    <p>
        <center>
            <img src="{% static 'atvaizdavimas.gif' %}" width="750"></img>
        </center>
    </p>
    
</div>

{% endblock %}