<!doctype html>
{% load static %}
<html lang="en">
  <head>

    <link rel="stylesheet" href="{% static 'app.css' %}" />
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <title>Face Reconstruction</title>
    <style>
      body {
        background-image: url('{% static "background.png" %}');
      }
    </style>
  </head>
  <body>
    <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="{% static 'vilniustech2.png' %}" class="img-fluid" alt="VilniusTech logo, home puslapis" width="234" height="100">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="/about">Apie mus</a>
              <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">3M Modelis</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/upload">Įkelti nuotrauką</a>
                  <a class="dropdown-item" href="/webcam">Fotografuotis</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Right side of navbar-->
        <div class="navbar-nav">
          {% if user.is_authenticated %}
          <a class="nav-item nav-link">Prisijungęs(-usi) kaip {{ user.username }}</a>
          <a class="nav-item nav-link" href="{% url 'history' %}">Darbo istorija</a>
          <a class="nav-item nav-link" href="{% url 'logout' %}">Atsijungti</a>
          {% else %}
          <a class="nav-item nav-link" href="{% url 'login' %}">Prisijungti</a>
          <a class="nav-item nav-link" href="{% url 'register' %}">Registruotis</a>
          {% endif %}
        </div>
      </nav>
    </div>
    
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>
