{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}

    <br/><br/>
    <h2 class="display-3"><center>Vartotojo(-s) "{{ user.username }}" istorija</center></h2>
    <hr class="text-success border-2 opacity-50">
    
    <br/>
    <div class="table-responsive" style="overflow-x:auto;">
        <table class="table">
            <tr>
                <th>Veido nuotrauka</th>
                <th>Failo pavadinimas</th>
                <th>Atsisiusti modeli</th>
                <th>Atvaizduoti modeli</th>
            </tr>
            {% for item in all %}
            <tr>
                <td><img src='../media/{{ item.file_crop }}'></td>
                <td>{{ item.file_jpg }}</td>
                <td><a href="{{MEDIA_URL}}/media/{{item.file_obj}}" >{{item.file_obj}}</a></td>
                <td>                
                    <form action="" enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        <input hidden type="text" id="obj{{ forloop.counter }}" name="obj" value="../../media/{{ item.file_jpg }}"/>
                        <button type="submit" class="button-1">Atvaizduoti</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}