{% extends 'base.html' %}

{% load static %}

{% block content %}
<h2 class="display-3"><center>3D Veidas</center></h2>
<hr class="text-success border-2 opacity-50">
<center>
    <div class="main-block">
        <h2 class="display-6">Darykite trimatį veido modelį</h2>
        <div>
            <a href="/upload">
                <button class="button-1">Įkelti nuotrauką</button>
            </a>
        </div>
        <br>
        <div>
            <a href="/webcam">
                <button class="button-1">Fotografuotis</button>
            </a>
        </div>
    </div>
</center>
{% endblock %}
