{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container">
    <form method="POST">
        {% csrf_token %}

        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Log In</legend>
            {{ form|crispy }}
        </fieldset>
        <br/>
        <div>
            <button type="submit" class="btn btn-outline-info">Log In</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="muted">
            Dont have an account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
        </small>
    </div>
</div>
{% endblock %}