{% extends 'base.html' %}
{% block content %}
	<style>
		body { margin: 0; }
	</style>

	{% load static %}
	<script src="{% static '/thrre.js' %}" type="module" id="filename" data-jpg_filename={{filen}}></script>
	
{% endblock %}
	