{% extends 'base.html' %}

{% block content %}
{% load static %}

  <link rel="stylesheet" href="{% static 'app.css' %}" />
  <script type="text/javascript" src="{% static 'webcam.js' %}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  
      <script type="text/javascript">
        myfunction = function(){
          var newValue = document.getElementById("imageprev").src;
          var Myelement = document.getElementById("id_webcam_file");
          console.log(Myelement.value);
          Myelement.value = newValue;
          console.log(Myelement.value);
          document.getElementById("show1").style.display = "block";
          document.getElementById("show2").style.display = "none";
          var Myelement2 = document.getElementById("id_username");
          Myelement2.style.display = "none";    
          Myelement2.value = '{{user.username}}';
        }
      </script>
      <script>
        navigator.mediaDevices.enumerateDevices().then((devices) => {
          let videoSourcesSelect = document.getElementById("video-source");

          // Iterate over all the list of devices (InputDeviceInfo and MediaDeviceInfo)
          devices.forEach((device) => {
            let option = new Option();
            option.value = device.deviceId;

            // According to the type of media device
            switch(device.kind){
              // Append device to list of Cameras
              case "videoinput":
                  option.text = device.label || `Camera ${videoSourcesSelect.length + 1}`;
                  videoSourcesSelect.appendChild(option);
              break;
            }

            console.log(device);
          });
        }).catch(function (e) {
          console.log(e.name + ": " + e.message);
          });
      </script>

    <center>
      <label>Pasirinkite kameros tipa</label>
      <select id="video-source"></select>
      <div class="container-fluid" name="camera" id="camera"></div>
      <div class="container-fluid" name="results" id="results"></div>
      <div id="show2">
        <div onclick="takeSnapShot();myfunction();" type="button" id="button1" class="fa fa-camera" style="font-size:48px;color:#0095ff"></div>
      </div>


      <!--<button onclick="saveSnapShot()" type="button" id="button2" class="button-1">Save Picture</button>-->
      <form hidden id="webcam_photo" method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
      </form>
      <div id="show1" style="display: none">
        <input type="submit" class="button-1" id="button2" form="webcam_photo" value="Pateikti nuotrauka"/>
        <button type="button" onclick="location.href='/webcam'" class="button-1">Daryti nuotrauka is naujo</button>
      </div>
    </center>

  <script src="{% static 'app.js' %}"></script>

{% endblock %}
